@import '../breakpoints';

.staff-checkin {
 ul {
  width: 50%;
  margin: auto;
  padding-bottom: 1rem;
  li {
   margin: auto;
  }
 }
 @include tablet {
  ul {
   width: 95%;
   margin: 0.5rem;
   li:first-child {
    width: 10%;
   }
   li:nth-child(2) {
    width: 10%;
   }
   li:nth-child(3) {
    width: 15%;
   }
   li:nth-child(4) {
    width: 15%;
   }
   li:nth-child(5) {
    width: 40%;
   }
   li:last-child {
    width: 10%;
   }
  }
 }
}
