@import '../breakpoints';

.manage-passenger {
 ul {
  width: 50%;
  margin: auto;
  padding-bottom: 0.5rem;
  li {
   margin: auto;
  }
 }
 @include tablet {
  ul {
   width: 95%;
   margin: 0.5rem;
   li {
    width: 18%;
   }
  }
  .btn-cancel {
   margin-left: 1%;
  }
 }
}

.filter-missing-details {
 display: flex;
 flex-flow: row wrap;
 padding: 2.5%;
 label {
  flex-basis: 33.33%;
 }
 h3 {
  flex-basis: 100%;
  margin-bottom: 2%;
 }
 #passno,
 #address,
 #dob {
  width: 25px;
  height: 25px;
  accent-color: red;
  vertical-align: middle;
 }
}
