// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;


// Large tablets and desktops
$screen-xl-min: 1200px;


// Small devices
@mixin mobile-l {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

// Medium devices
@mixin tablet {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

// Extra large devices
@mixin desktop {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}