@import '~bootstrap/scss/bootstrap-utilities';
@import '~bootstrap/scss/bootstrap';
//Generate utilites for Cursor
$utilities: map-merge(
 $utilities,
 (
  'cursor': (
   property: cursor,
   values: auto default pointer wait text move help not-allowed
  )
 )
);

html,
body,
div#app {
 height: 100%;
 width: 100%;
 padding: 0;
 margin: 0;
}
