.mange-ancillary{
    thead{
        th:first-child{
            width: 300px ;
        }
        th:nth-child(2){
            width: 500px ;
        }
        th:last-child{
            width: 200px ;
        }
    }
}
