.manage-ancillary {
 thead {
  th:first-child {
   width: 21%;
  }
  th:nth-child(2) {
   width: 27%;
  }
  th:nth-child(3) {
   width: 32%;
  }
  th:last-child {
   width: 21%;
  }
 }
 .btn-delete {
  margin-left: 1%;
 }
}
